h1{
    color:#005b96;
    text-align: center;
}

.container{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe{
    width: 1500px;
    height: 600px;
}